body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* Loader Page */
#laoderimage {
  width: 200px;
  margin-top: 10%;
  margin-left: 1%;
}

.spinner {
  --clr: rgb(0, 113, 128);
  --gap: 10px;
  /* gap between each circle */
  width: 200px;
  height: 200px;
  display: flex;
  margin-top: 3%;
  margin-left: 5%;
  gap: var(--gap);
}

.spinner span {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--clr);
  opacity: 0;
}

.spinner span:nth-child(1) {
  animation: fade 1s ease-in-out infinite;
}

.spinner span:nth-child(2) {
  animation: fade 1s ease-in-out 0.33s infinite;
}

.spinner span:nth-child(3) {
  animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }

  60% {
    opacity: 0;
  }
}

/* login style */

.login {
  margin-top: 6%;
  margin-left: 4%;
  border-radius: 20px;
  padding: 10px;
  width: fit-content;
  padding-left: 70px;
}
/* From Uiverse.io by PaolaMarai */
.error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 375px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #f45c43, #eb3349);
  background: linear-gradient(to right, #f45c43, #eb3349);
  box-shadow: 0 0px 10px #de1c3280;
}

.error__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__icon path {
  fill: #fff;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  filter: drop-shadow(2px 1px 2px rgb(0 0 0 / 0.4));
}

.error__close path {
  fill: #fff;
}

#loginimg {
  width: 120px;
}
#h1 {
  margin-left: 80px;
}
#h3 {
  margin-left: 90px;
}
#email,
#password,
#fullname,
#confirmpassword,
#emailpass,
#code,
#newpass,
#confirmpass {
  border: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 380px;
  height: 22px;
  padding: 5px;
  margin-bottom: 8px;
  outline: none;
}
#birthyear {
  border: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 380px;
  height: 22px;
  padding: 5px;
  margin-bottom: 8px;
  outline: none;
}
.cl-checkbox {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

/* Input */
.cl-checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  display: block;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: none;
  outline: none;
  opacity: 0;
  transform: scale(1);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox > span {
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

/* Box */
.cl-checkbox > span::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  margin: 3px 11px 3px 1px;
  border: solid 2px;
  /* Safari */
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 1px;
  width: 10px;
  height: 5px;
  border: solid 2px transparent;
  border-right: none;
  border-top: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox > input:checked,
.cl-checkbox > input:indeterminate {
  background-color: #018786;
}

.cl-checkbox > input:checked + span::before,
.cl-checkbox > input:indeterminate + span::before {
  border-color: #018786;
  background-color: #018786;
}

.cl-checkbox > input:checked + span::after,
.cl-checkbox > input:indeterminate + span::after {
  border-color: #fff;
}

.cl-checkbox > input:indeterminate + span::after {
  border-left: none;
  transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover > input {
  opacity: 0.04;
}

.cl-checkbox > input:focus {
  opacity: 0.12;
}

.cl-checkbox:hover > input:focus {
  opacity: 0.16;
}

/* Active */
.cl-checkbox > input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s;
}

.cl-checkbox > input:active + span::before {
  border-color: #85b8b7;
}

.cl-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.6);
}

/* Disabled */
.cl-checkbox > input:disabled {
  opacity: 0;
}

.cl-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.cl-checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.cl-checkbox > input:checked:disabled + span::before,
.cl-checkbox > input:indeterminate:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}
#btn {
  cursor: pointer;
  /* background-image: linear-gradient(to right, #2e8084,#00AAB7,#E6F4F1); */
  background-color: #2e8084;
  border: none;
  color: white;
  width: 390px;
  height: 35px;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 20px;
}
#google {
  width: 19px;
  margin-right: 10px;
  vertical-align: middle;
}
.spanme {
  color: black;
  font-size: 15px;
}
#btn2 {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  /* background-image: linear-gradient(to left, #2e8084,#00AAB7,#E6F4F1); */
  border: none;
  color: black;
  width: 390px;
  border: 1px solid rgb(197, 197, 197);
  height: 35px;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#link {
  text-decoration: none;
  color: #018786;
  margin-left: 12%;
  margin-top: 8px;
  opacity: 0.7;
}
#link2 {
  text-decoration: none;
  color: #018786;
  opacity: 0.7;
}
.signn {
  margin-top: 5px;
  margin-left: 80px;
}
#link:hover {
  text-decoration: underline;
  opacity: 1;
}
/* Register */
.Register {
  margin-top: 4%;
  margin-left: 2%;
  width: fit-content;
  padding-left: 100px;
  padding-right: 150px;
}

#Role,
#gender,
#cities {
  -webkit-user-select: auto;
  user-select: auto;
  border: none;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 392px;
  height: 30px;
  padding: 5px;
  margin-bottom: 12px;
  outline: none;
}
/* ForgetPass */
.ForgetPass {
  margin-top: 10%;
  margin-left: 3%;
  width: fit-content;
  padding-left: 100px;
  padding-right: 150px;
}
/* CodeConfirm */
.CodeConfirm {
  margin-top: 13%;
  margin-left: 2%;
  width: fit-content;
  padding-left: 100px;
  padding-right: 150px;
}

/* NewPass */

.NewPass {
  margin-top: 10%;
  margin-left: 3%;
  width: fit-content;
  padding-left: 100px;
  padding-right: 150px;
}
.countainer {
  height: 105%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
}
.divimage {
  margin-top: 8px;
  width: 63%;
  height: 578px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
#imagediv {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0187873a;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  font-size: 18px;
}

.slider-button:hover {
  background-color: #018786;
}

.slider-button.prev {
  left: 15px;
}

.slider-button.next {
  right: 15px;
}

#btnRegister {
  cursor: pointer;
  /* background-image: linear-gradient(to right, #2e8084,#00AAB7,#E6F4F1); */
  background-color: #2e8084;
  border: none;
  color: white;
  width: 390px;
  height: 35px;
  font-size: 16px;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#imgindiv {
  position: absolute;
  z-index: 1;
  width: 90px;
  top: 15px;
  left: 15px;
}

/* header */
.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.part1header {
  padding: 6px 30px 6px 30px;
  /* background-color: #018786; */
  background-image: linear-gradient(to left, #2e8084, #00aab7);
  display: flex;
  justify-content: space-between;
}
#emaillink {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}
#socailmedia {
  margin-right: 15px;
  width: 20px;
}
.part2header {
  padding: 6px 30px 6px 30px;
  display: flex;
  justify-content: space-between;
}
#hedearlogo {
  width: 120px;
  margin-left: 10px;
}
.linksdiv {
  margin-top: 10px;
}
.links {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  font-size: 17px;
}
.links:hover {
  color: #018786;
}
.loginbtn {
  background-color: #018786;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 8px;
}
.signupbtn {
  background-color: #00aab7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
}

/* footer */
.footer {
  padding: 0px 60px 0px 60px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #c7e8e852;
}
#spanfooter {
  font-weight: bold;
}
.socailmedia2 {
  margin-top: 30px;
}
hr {
  width: 90%;
  margin-top: 50px;
  margin-left: 4px;
  height: 0.5px;
  background-color: #018786;
}
.divfooter {
  margin-left: -100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footerlinks {
  display: flex;
  margin-top: 30px;
}
.p1 {
  margin-right: 100px;
}
.linksdiv2 {
  display: flex;
  flex-direction: column;
}
.links2 {
  text-decoration: none;
  margin-right: 30px;
  color: black;
  opacity: 0.5;
  font-size: 15px;
}
.links2:hover{
  color: #018786;
  opacity: 1;
}
.pfooter2{
  margin-left: 35%;
}
.part3footer{
  margin-top: 30px;
}
#Emailfootre{
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  width: 200px;
  height: 22px;
  padding: 5px;
  margin-bottom: 8px;
  outline: none;
}
#btnconfirm{
  cursor: pointer;
  background-color: #2e8084;
  border: none;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 16px;
  border-radius: 6px;
  margin-left: 10px;
}
/* Responsive Design */

@media (max-width: 479px) {
  /* Styles for Extra Small (XS) */
  .divimage {
    display: none;
  }
  .loader {
    margin-top: 18%;
    margin-left: 25%;
  }
  .spinner {
    margin-left: 7%;
  }
  .login {
    margin-top: 6%;
    padding-left: 0px;
  }
  #email,
  #password,
  #fullname,
  #confirmpassword,
  #emailpass,
  #code,
  #newpass,
  #confirmpass {
    width: 350px;
  }
  #btn {
    width: 360px;
  }
  #btn2 {
    width: 360px;
  }
  #link {
    margin-left: 8%;
  }
  .Register {
    margin-top: 6%;
    padding-left: 0px;
  }
  #Role,
  #gender,
  #cities {
    width: 360px;
  }
  #birthyear {
    width: 350px;
  }
  #btnRegister {
    width: 360px;
  }
  .ForgetPass {
    margin-top: 20%;
    padding-left: 10px;
  }
  .CodeConfirm {
    margin-top: 20%;
    padding-left: 10px;
  }
  .NewPass {
    margin-top: 20%;
    padding-left: 10px;
  }
  .error {
    width: 345px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Styles for Small (SM) */
  .divimage {
    display: none;
  }
  .loader {
    margin-top: 14%;
    margin-left: 28%;
  }
  .spinner {
    margin-left: 7%;
  }
  .ForgetPass {
    margin-top: 20%;
    padding-left: 80px;
  }
  .CodeConfirm {
    margin-top: 20%;
    padding-left: 80px;
  }
  .NewPass {
    margin-top: 20%;
    padding-left: 80px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for Medium (MD) */
  .loader {
    margin-top: 10%;
    margin-left: 37%;
  }
  .divimage {
    width: 80%;
  }
  .login {
    margin-top: 6%;
    margin-left: 4%;
    padding-left: 0px;
  }
  .Register {
    margin-top: 6%;
    margin-right: -8%;
    margin-left: 8%;
    padding-left: 20px;
  }
  .ForgetPass {
    margin-top: 15%;
    margin-right: -8%;
    margin-left: 8%;
    padding-left: 20px;
  }
  .CodeConfirm {
    margin-top: 15%;
    margin-right: -8%;
    margin-left: 8%;
    padding-left: 20px;
  }
  .NewPass {
    margin-top: 15%;
    margin-right: -8%;
    margin-left: 8%;
    padding-left: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  /* Styles for Large (LG) */
  .loader {
    margin-top: 5%;
    margin-left: 40%;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  /* Styles for Extra Large (XL) */
}
.header .social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white; /* النص باللون الأبيض */
  font-size: 20px;
  margin: 0 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header .social-icon:hover {
  transform: scale(1.1);
  color: #00eeff; /* النص يتحول إلى الأزرق عند التمرير */
}


.footer .social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #17a2b8; 
  border-radius: 50%;
  color: #17a2b8; 
  font-size: 20px;
  margin: 0 5px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.footer .social-icon:hover {
  transform: scale(1.1);
  background-color: #17a2b8; 
  color: white; 
}
